body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App-header {
  background-color:black;
  height: 100px;
  width: 100%;
}

.title {
  margin-top: 0px;
  color: blue;
}

.body {
  color: purple;

}

.App {
  background-color: brown;
}
.post {
  padding: 30px;
  border-style: double;
  margin: 20px;
  background-color: white;
}

.img {
  width:150px;
  margin-left: auto;
  margin-right: auto;
  display: block
}